

.continuarpositionreal{
    width: 293px;
    height: 47px; 
    padding-Bottom: 5px; 
    top: 384px; 
    position: absolute; 
    border-Radius: 20px; 
    justify-Content: center; 
    align-Items: center;
    display: inline-flex;
}

.continuar{
    width: 293px; 
    height: 42px; 
    position: relative;
}

.continuabck{
    width: 293px; 
    height: 42px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: white; 
    border-Radius: 20px;
    transition: background-color 0.2s ease-in-out;
}

.continuartxtreal{
    width: 293px; 
    height: 42px; 
    position: relative; 
    color: black; 
    font-Size: 20px; 
    font-Family: Reem Kufi Fun; 
    font-Weight: 400; 
    word-Wrap: break-word;
    background: none;
    border: none;
    outline: none;
}

.continuabck:hover{
    background: #D1F1FF;
}

.continuabck:active{
    background:#8ADAFC;
}