

.register{
    width: 124px;
    height: 39px;
    top: 83px;
    position: absolute;
}

.registerbck{
    width: 124px;
    height: 39px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #D1F1FF;
    border-radius: 20px;
}

.registertxt{
    width: 112px; 
    height: 35px; 
    left: 20px; 
    top: 4px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-Family: Reem Kufi Fun; 
    font-Weight: 400px; 
    word-Wrap: break-word;
}
